#header {
    display: flex;
    width: 100%;
    justify-content: center;
}
#subheading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}